// pug : view engine for express
// 모든 페이지의 토대가 되는 HTML 작성
// header, footer, head tag, css link etc.
// only one thing in element (which is rendered) : p = Alpha
// more than one with rendered variable : p Hello I'm #{Alpha}

doctype html
html   
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
    body
        include ../partials/header
        main 
            block content 
            // 이 block 안에 다른 pug 파일의 내용이 채워진다.
        include ../partials/footer